*{
    margin: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header,footer{
    background-color: rgb(236, 177, 104);
}

header>h1, footer>h1{
    text-align: center;
}

blockquote{
    padding: 15px;
    background-color: bisque;
}